<?xml version="1.0"?>
<launch>
  <node pkg="offline_odom_publisher" type="node" name="odom_publisher" output="screen"/>

  <include file="$(find loam_velodyne)/launch/offline_loam.launch">
  </include>

  <node pkg="rosbag" type="play" name="player" output="screen" args="--quiet /home/lx/ros/husky1.bag"/>

</launch>
